body {
    text-align: center;
}

#root {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    left: 50%;
    position: relative;
    margin-left: -500px;
} 

#root form {
    margin-top: 1em;
    width: 350px;
}

#root textarea {
    resize: none;
    width: 350px;
}

#root form label {
    display: block;
    font-size: smaller;
    font-weight: bold;
    text-align: left;
}

#root form input {
    display: block;
    margin-bottom: .5em;
}